<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<div class="navbar-container sticky ">
  <div class="navbar ">
    <form action="/post/create/new" method="get" >
      <button class="create-post-btn" id="create-post">CreatePost</button>
    </form>
    <% if(user){ %>
     <img class="user-img" src=<%=user.image%> alt="">
    <%}else {%>
         <button class="create-post-btn"  id="login"><a class="create-post-btn" href="/auth/google">Login</a></button>
    <%}%>
  </div>
</div>
  
  
  <div class="post-container">
    <% for(let i=0;i<data.length;i++){ %>
  
      <div class="post-data">
        <div class="creator">
           <div class="creator-info">
              <% if(data[i].createdBy!='Unknown' && data[i].createdBy!=''){%>
                <img class="creator-img" src="<%=data[i].creatorImg %>" alt="">
              <% if(data[i].displayName){ %>
                <p class="creator-displayName"> <%=data[i].displayName %></p>
              <% }%>
              <%}%>
          </div>
          <h3 class="title"><%=data[i].title %> </h3>
        </div>
        <p class="descr"><%=data[i].description %> </p>
        <p class="created-at"><%=moment(data[i].createdAt).format('MMMM Do YYYY, h:mm:ss a') %></p>
    </div>
    <% } %>
  </div>
   
  <script>


   
  </script>

</body>
</html>